<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drops/box01_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{78,62}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{78,62}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/box01_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,189},{100,80}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,80}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/box02_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,259},{78,62}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{78,62}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/box02_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,323},{100,80}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,80}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/box03_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,259},{78,62}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,32},{78,62}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/box03_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,323},{100,80}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,80}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/luck_box01_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,189},{84,68}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{84,68}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/luck_box01_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1},{102,86}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{102,86}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/luck_box02_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,259},{84,68}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,32},{84,68}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/luck_box02_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,89},{102,86}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{102,86}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/luck_box03_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,425},{84,74}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{84,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/luck_box03_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,101},{102,86}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{102,86}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/luck_resultbox_close_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,179},{70,90}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{70,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/luck_resultbox_close_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,251},{70,86}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{70,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/luck_resultbox_close_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,105},{72,90}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{72,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/luck_resultbox_close_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,189},{86,68}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{86,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/luck_resultbox_close_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,425},{84,68}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,49},{84,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/luck_resultbox_close_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,425},{84,74}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,43},{84,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/luck_resultbox_open_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{106,86}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,31},{106,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/luck_resultbox_open_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1},{104,86}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,31},{104,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/luck_resultbox_open_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1},{104,86}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,31},{104,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/resultbox_close_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,447},{60,80}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{60,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/resultbox_close_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,447},{60,80}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{60,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/resultbox_close_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,353},{60,80}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{60,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/resultbox_close_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{78,62}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,50},{78,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/resultbox_close_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,345},{78,62}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,50},{78,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/resultbox_close_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,259},{78,62}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,50},{78,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/resultbox_open_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/resultbox_open_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/resultbox_open_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,89},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>drops/resultbox_open_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,271},{100,80}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{100,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/resultbox_open_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,345},{100,80}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,32},{100,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>drops/resultbox_open_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,177},{102,80}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{102,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>drops.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fa14eb44c0ee162a89f9b14689b6942:4c431331c22d99e1df8df7766cee152b:0813254ac9697f8113f35a727520d6ed$</string>
            <key>textureFileName</key>
            <string>drops.png</string>
        </dict>
    </dict>
</plist>
