nav a {
  text-decoration: none;
  padding: 1rem;
}

nav a.active {
  background-color: rgb(24, 40, 136);
}

body { 
  background-image: url("background.png");
  background-size: cover;
  background-color: rgb(39, 38, 38);
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

table, th, td {
  color: white;
}

th, tr {
  border-color: white;
}
