nav a {
  text-decoration: none;
  padding: 1rem;
}

nav a:hover {
  background-color: #2e9cca;
}

body { 
  background-color: #202022 !important;
}

a {
  text-decoration: none;
}

table, th, td {
  color: white;
}

th, tr {
  border-color: white;
}

.accordion-button {
  background-color: #292930 !important;
}

.guidesContent {
  width: 100%;
  height: 1000px;
}

.unitThumb {
  width: 75px;
  height: 75px;
}

.buffDebuff {
  border: 1px solid;
}

.newsImages {
  width: auto;
  max-height: 400px
}

@media (max-width: 768px){
  .newsImages {
    width: 100%;
    height: auto;
  }
}